<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645032234963-v0tmt15ou2gc8hl4edktv91cu1g0gd90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645032234963-v0tmt15ou2gc8hl4edktv91cu1g0gd90</string>
	<key>API_KEY</key>
	<string>AIzaSyCqEGUhbObB8GN7m8RSbSifE5gSjJS0RHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>645032234963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bottlemessage</string>
	<key>PROJECT_ID</key>
	<string>bottle-message-3891d</string>
	<key>STORAGE_BUCKET</key>
	<string>bottle-message-3891d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645032234963:android:f1d526bb2c8f00364de926</string>
</dict>
</plist>